#Assets/Animation/
#Assets/Audio/
Assets/Editor Default Resources/
Assets/Resources/
#Assets/Scenes/
#Assets/Scenes/SampleScene.unity
#Assets/Sprites/
Library/
Logs/
obj/
Packages/
#ProjectSettings/
Temp/
.vs/
*.meta
*.csproj
*.sln